.header{
    background-color: #D9E4F0;
    color: #2C3E50;
    height: 150px;
    width: 100%;
    padding-bottom: 60px;
    margin-bottom: 20px;
    text-align: center;

}

.header h2{
    color: #443C4D;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 25px;
}


