ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #7A95B1;
  height: 60px;
}



li a{
    display: block;
    color:#ffffff ;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #D9E4F0;
}